* {
    font-family: 'Poppins', sans-serif;
}

html {
    background-color: #b892ff;
}

body {
    text-align: center;
    justify-content: center;
}

section {
    width: 100%;
    overflow-x: auto;
}

table {
    margin-left: auto;
    margin-right: auto;
}

th,
td {
    font-weight: 400;
    padding: 10px;
    text-align: center;
}

button {
    margin: 20px 10px;
}

button,
input {
    text-align: center;
    background-color: transparent;
    border: solid black 0.1em;
    border-radius: 5px;
}

input:focus {
    outline: none;
    caret-color: transparent;
    border: dotted black 0.1em;
}

button:hover {
    cursor: pointer;
    border: dotted black 0.1em;
}